n8n/strategy_research_workflow.json
{
  "id": "stratlab-weekly-001",
  "name": "Strategy Research — Weekly Autonomous Run",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [1],
              "triggerAtHour": 7,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "11111111-0000-0000-0000-000000000001",
      "name": "Weekly Monday 7am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8078/health",
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000002",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "ok"
            }
          ]
        }
      },
      "id": "11111111-0000-0000-0000-000000000003",
      "name": "Server Up?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8078/refresh-data",
        "method": "POST",
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000004",
      "name": "Refresh Market Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 220]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8078/run-all",
        "method": "POST",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "400"
            }
          ]
        },
        "options": {
          "timeout": 3600000
        }
      },
      "id": "11111111-0000-0000-0000-000000000005",
      "name": "Run All Symbols",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8078/run-all",
        "method": "POST",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "limit", "value": "400"},
            {"name": "dataset", "value": "deep"}
          ]
        },
        "options": {"timeout": 5400000}
      },
      "id": "11111111-0000-0000-0000-000000000010",
      "name": "Run Deep History Fill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 340],
      "notes": "Creeping grid-fill against the 2005+ dataset — new families and grid changes flow onto multi-regime history automatically."
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8078/run-scanner-batch",
        "method": "POST",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "limit", "value": "200"},
            {"name": "dataset", "value": "deep"}
          ]
        },
        "options": {"timeout": 5400000}
      },
      "id": "11111111-0000-0000-0000-000000000011",
      "name": "Scanner Universe Fill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 460],
      "notes": "Creeping fill of the strategy grid across 12 liquid single names on 2005+ dividend-adjusted history — regime-tested from day one, never judged on a single era."
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8078/suggest",
        "method": "POST",
        "options": {
          "timeout": 120000
        }
      },
      "id": "11111111-0000-0000-0000-000000000006",
      "name": "Get AI Suggestions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8078/sync-private",
        "method": "POST",
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000007",
      "name": "Sync Private Repo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 220]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8078/status",
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000008",
      "name": "Get Final Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 220]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-summary",
              "name": "summary",
              "value": "=🔬 Strategy Lab Weekly Run Complete\n\nDate: {{ new Date().toISOString().split('T')[0] }}\nTotal experiments: {{ $json.total_experiments }}\n\n📊 Grades:\n  Candidates: {{ $json.candidates }}\n  Promising:  {{ $json.promising }}\n  Watch:      {{ $json.watch }}\n  Rejects:    {{ $json.rejects }}\n\nLast run: {{ $json.last_run_at }}\n\n💡 AI Suggestions:\n{{ $('Get AI Suggestions').item.json.suggestion }}\n\nModel used: {{ $('Get AI Suggestions').item.json.model }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000009",
      "name": "Format Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [2000, 220]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8078/weekly-report",
        "method": "POST",
        "options": {
          "timeout": 300000
        }
      },
      "id": "11111111-0000-0000-0000-000000000013",
      "name": "Send Weekly Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2220, 220],
      "notes": "The server composes the plain-English weekly digest (what was found, grade deltas, worth-continuing signal) and pushes it via ntfy itself - the topic never appears in this public workflow JSON."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-error",
              "name": "error",
              "value": "=⚠️ Strategy Lab server is DOWN\n\nDate: {{ new Date().toISOString() }}\n\nThe weekly research run was skipped because the server did not respond.\n\nStart the server:\n  py -3.12 -m uvicorn strategy_lab.server:app --host 127.0.0.1 --port 8078\n\nThen trigger this workflow manually to catch up.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000014",
      "name": "Server Down Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [900, 400]
    },
    {
      "parameters": {},
      "id": "11111111-0000-0000-0000-000000000015",
      "name": "→ Alert Notification Here",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 400],
      "notes": "Connect the same notification node as the success path.\nAlert text is in {{ $json.error }}."
    }
  ],
  "connections": {
    "Weekly Monday 7am CT": {
      "main": [
        [{"node": "Health Check", "type": "main", "index": 0}]
      ]
    },
    "Health Check": {
      "main": [
        [{"node": "Server Up?", "type": "main", "index": 0}]
      ]
    },
    "Server Up?": {
      "main": [
        [{"node": "Refresh Market Data", "type": "main", "index": 0}],
        [{"node": "Server Down Alert", "type": "main", "index": 0}]
      ]
    },
    "Refresh Market Data": {
      "main": [
        [{"node": "Run All Symbols", "type": "main", "index": 0}]
      ]
    },
    "Run All Symbols": {
      "main": [
        [{"node": "Run Deep History Fill", "type": "main", "index": 0}]
      ]
    },
    "Run Deep History Fill": {
      "main": [
        [{"node": "Scanner Universe Fill", "type": "main", "index": 0}]
      ]
    },
    "Scanner Universe Fill": {
      "main": [
        [{"node": "Get AI Suggestions", "type": "main", "index": 0}]
      ]
    },
    "Get AI Suggestions": {
      "main": [
        [{"node": "Sync Private Repo", "type": "main", "index": 0}]
      ]
    },
    "Sync Private Repo": {
      "main": [
        [{"node": "Get Final Status", "type": "main", "index": 0}]
      ]
    },
    "Get Final Status": {
      "main": [
        [{"node": "Format Summary", "type": "main", "index": 0}]
      ]
    },
    "Format Summary": {
      "main": [
        [{"node": "Send Weekly Report", "type": "main", "index": 0}]
      ]
    },
    "Server Down Alert": {
      "main": [
        [{"node": "→ Alert Notification Here", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Chicago",
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "strategy-lab-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {"name": "strategy-lab"},
    {"name": "autonomous"}
  ]
}
